.top-container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-item{
   width: 200px;
   margin: 10px;
}
.flexbox-item-1{
    height: 200px;
    width: auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    color: white;
}

.flexbox-item-1 h1{
    margin-bottom: 0px;
}


.flexbox-item-1 p{
margin-top: 1px;
}


li{
    list-style: none;
}
img{
    height: 800px;
    width: 700px;
}

button{
    margin-top: 2px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}
.container #films{
    margin-right: 500px;
    font-size: 30px;
    border: solid 1px black;
    background-color: black;
    color: white;
}

#filmDetails{
    text-align: center;
    border: solid 1px black;
    
}
